#header {
	min-height: 3em;
}

#logo {
	padding: 0;
}

#menu {
	margin-top: 3px;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	
}

#wrap-content {
	padding: 0;
	min-height: 85%;
}

#main-content {

}

#nav ul {
	list-style: none;
}


#footer {
	overflow: hidden;
}

#footer p {
	margin: 5px;
}


/* Classes */

.left {
	float: left;
}

.right {
	float:right;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.input-xlarge {
	resize: both;
}

.table-list {
	width: 100%;
	text-align: left;
	padding: 10px;
}

.table-list tr {
	border-bottom: 2px solid #0d0d0d;
}

.table-list a {
	display: block;
	padding: 10px;
}

.table-hide {
	border-radius: 5px;
	padding: 10px;
	display: none;
	width: inherit !important;
}

.note-select {
	width: 1%;
	padding: 5px;
}

.throbber-small {
	background-image: url('../images/throbber-small.gif');
	background-repeat: no-repeat;
	background-position:left center;
	padding-left: 35px;
}

.lightbox_bg {
	background:#111 none repeat scroll 0 0;
	display:none;
	height:800px;
	left:0;
	filter:alpha(opacity=50);
	opacity: 0.8;
	top:0;
	width:100%;
	z-index:50;
	display:none;
	position:fixed;
}


.modal_load{
	background-color: #111111;
	color: #ffffff;
	width: 10%;
	-webkit-box-shadow:  0px 0px 10px 1px #37A9E4;
	box-shadow:  0px 0px 10px 1px #37A9E4;
	padding: 15px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	position:absolute;
	left:45%;
	top:45%;
	z-index:51;
	text-align: center;
}


/* Landscape phones and down */
@media (max-width: 480px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
	
	#wrap-content {
		min-height: 81%;
	}
	
	#content {
		margin: 0 1em !important;
	}
	
	.table-list {
		margin: 0;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	
	body {
		padding-left: 0;
		padding-right: 0;
	}
	
	#wrap-content {
		min-height: 81%;
	}
	
	#nav ul li a, #nav ul li a:visited {
		color: #fff;
		padding: 1em;
		font-weight: bold;
	}
	
	#content {
		margin: 0 1em;
	}
	
	.table-list {
		margin: 0;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	
	#wrap-content {
		min-height: 81%;
	}
	
	#nav ul li a, #nav ul li a:visited {
		color: #fff;
		padding: 1em;
		font-weight: bold;
	}
	
	#content {
		margin-left: 25%;
	}
}