html, body {
	height: 100%;
}

body {
	background-color: #000000;
	color: #fff;
}

a, a:visited {
	color: #fff;
}

hr {
	color: #555555;
	border-color: #555555;
	border: 1px sold #555555;
	background-color: #555555;
}

#header {
	height: 1em;
	padding-top: 0px;
	background-color: #000000;
	color: #fff;
	border-bottom: 1px solid #33b5e5;
}

#logo {
	padding: 5px;
}

#menu ul {
	top: 600%;
	position: absolute;
	border: 1px solid #171717;
	background-color: #555555;
}

#menu ul li {
	padding: 5px;
	list-style: none;
	width:100px; 
	z-index:500; 
	margin:0 1px;
	border-bottom: 1px solid #33b5e5;
}

#menu ul li:hover {
	background-color: #33b5e5;
}

#menu ul > li:last-child {
	border-bottom: 0px;
}

#menu ul li a {
	padding:8px 5px 0 5px; 
	font-weight:700;  
	height:23px; 
	text-decoration:none; 
	color:#fff; 
	text-align:center;
}

#menu img {
	margin-top: 2px;
}

#menu a {
	outline: none;
}

#wrap-content {
	background-color: #0d0d0d;
	min-height: 100%;
	position: relative;
}

#nav {
	margin-top: 0px;
	margin-bottom: 0px;
	border-color: #2e2e2e;
	position: absolute;
	top: 0; /* TODO: Update this if header height changes / use a dynamic script */
	bottom: 0;
	
	background: rgb(0,0,0); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY0JSIgc3RvcC1jb2xvcj0iIzEzMTYxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTE5MTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(19,22,25,1) 64%, rgba(25,25,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(64%,rgba(19,22,25,1)), color-stop(100%,rgba(25,25,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 64%,rgba(25,25,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 64%,rgba(25,25,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 64%,rgba(25,25,25,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(19,22,25,1) 64%,rgba(25,25,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#191919',GradientType=0 ); /* IE6-8 */
}

#nav img {
	vertical-align: middle;
	margin-right: 1em;
}

#nav ul li {
	min-height: 3em;
	border-bottom: 1px solid #2e2e2e;
	margin: 0;
}

#nav ul li a, #nav ul li a:visited {
	color: #fff;
	padding: 1em 3em;
}

#nav ul li:hover {
	background-color: #177bdd;
}

#content {
	border: 0 none;
	min-height: 100%;
	margin-left: 23%;
}

#content h1, h2, h3, h4 {
	padding-bottom: 0.4em;
	margin-bottom: 1em;
	border-bottom: 1px solid #555555;
}

#content table {
	color: #111;
}

#content table a, table a:visited {
	color: #a1a1a1;
	text-decoration: none;
}

#content table a:hover {
	color: #fff;
}


#footer, #push {
	height: 1em;
	background-color: #000000;
	border-color: #111;
	position: static;
	margin: 0;
}

/* Override classes */

.row {
	margin: 0;
	min-height: 100%;
	max-width: 100%;
}

.container {
	padding: 0;
}


.ui-button {
	padding: 5px;
	margin: 0 5px;
}

.ui-button-icon-primary, .ui-button-icon-secondary {
	float: left;
}

.ui-button-text {
	float: left;
}

.table-list th {
	border-color: #33B5E5;
	color: #fff;
}

.table-list tbody tr, .table-hide {
	background-color: #26242A;
	color: #fff;
}

.table-list-active {
	border-color: #33B5E5;
}

a .table-list-active {
	color: #fff !important;
}
