.sl-bought-item {
      background-color: green !important;
      text-decoration: line-through;
}

.item-priority, .item-qty, .item-units {
	width: 1em;
}

.item-item, .item-tags {
	width: 4em;
}

.inline-header {
	margin-top: 1em;
}

#shoppinglist-items-wrap, .fixed-height-table-wrap {
	position: relative;
}

#shoppinglist-items-table-wrap, .fixed-height-table-wrap {
	max-height: 25em;
	overflow: auto;
	margin-top: 1em;
}

#shoppinglist-items {
	margin: 0;
}

#shoppinglist-items .priority, #shoppinglist-items .qty, #shoppinglist-items .completed,
#shoppinglist-items .price, #shoppinglist-items-compact .priority, #shoppinglist-items-compact .qty, #shoppinglist-items-compact .completed,
#shoppinglist-items-compact .price {
	max-width: 1.8em;
}

#shoppinglist-items a, #shoppinglist-list-manage a,
#shoppinglist-items-compact a {
	display: inline;
}

#shoppinglist-items ul a, #shoppinglist-items-compact ul a {
	padding: 0 4px;
}

#shoppinglist-items input {
	width: 4em;
}

#shoppinglist-items tr, #shoppinglist-list-manage tr, #shoppinglist-items-compact tr {
	height: 3em;
}

#shoppinglist-items td, #shoppinglist-list-manage td, #shoppinglist-items-compact td {
	padding: 0.4em;
}

#shoppinglist-form-quick-add-wrap, .quick-add {
	position: absolute;
	z-index: 10;
	left: 50%;
}

#shoppinglist-form-quick-add-item, .quick-add {
	margin-right: 10px;
	margin-top: 10px;
}

/* Set max-height of shopping list table according to the screen height 
   TODO: Find a better way to do this using percentages maybe?
*/

@media (max-height: 768px) {
	#shoppinglist-items-table-wrap {
		max-height: 25em;
	}
}

@media (min-height: 768px) and (max-height: 800px) {
	#shoppinglist-items-table-wrap {
		max-height: 30em;
	}
}

@media (min-height: 800px) {
	#shoppinglist-items-table-wrap {
		max-height: 35em;
	}
}

@media (min-height: 900px) {
	#shoppinglist-items-table-wrap {
		max-height: 40em;
	}
}

@media (min-height: 1050px) {
	#shoppinglist-items-table-wrap {
		max-height: 50em;
	}
}

@media (min-height: 1200px) {
	#shoppinglist-items-table-wrap {
		max-height: 60em;
	}
}