.sl-bought-item {
      background-color: green !important;
      text-decoration: line-through;
}

.item-priority, .item-qty, .item-units {
	width: 1em;
}

.item-item, .item-tags {
	width: 4em;
}

.inline-header {
	margin-top: 1em;
}

#shoppinglist-items-wrap, .fixed-height-table-wrap {
	position: relative;
}

#shoppinglist-items-table-wrap, .fixed-height-table-wrap {
	max-height: 25em;
	overflow: auto;
	margin-top: 1em;
}

#shoppinglist-items .priority, #shoppinglist-items .qty, #shoppinglist-items .completed,
#shoppinglist-items .price {
	max-width: 1.8em;
}

#shoppinglist-items a, #shoppinglist-list-manage a{
	display: inline;
}
#shoppinglist-items ul a {
	padding: 0 4px;
}

#shoppinglist-items input {
	width: 4em;
}

#shoppinglist-items tr, #shoppinglist-list-manage tr {
	height: 3em;
}

#shoppinglist-items td, #shoppinglist-list-manage td {
	padding: 0.4em;
}

#shoppinglist-form-quick-add-wrap, .quick-add {
	position: absolute;
	z-index: 10;
	left: 50%;
}

#shoppinglist-form-quick-add-item, .quick-add {
	margin-right: 10px;
}